:root {
  --backgroundColor: #f0e6c9;
  --searchColor: #f7f2e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 80px;
  color: white;
  position: relative;
}

.image {
  background: url("https://wallpapers.com/images/featured/giza-pyramids-frygia9m5ggjhaz1.jpg");
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.head-content {
  font-family: serif;
  position: relative;
  z-index: 2;
  max-width: 600px;
}

.header h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #f7f2e4;
}

.header p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
  color: #f7f2e4;
}

.buttons {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  gap: 20px;
}

.btn1 {
  background-color: #f76c5e;
  width: 230px;
  height: 60px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  padding-top: 18px;
  font-size: large;
  color: white;
}

.btn2 {
  background-color: #007bba;
  width: 230px;
  height: 60px;
  border-radius: 6px;
  text-align: center;
  text-decoration: none;
  padding-top: 18px;
  font-size: large;
  color: white;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0e6c9;
  width: 100%;
  height: 350px;
}

.searching {
  width: 90%;
  height: 250px;
  background-color: var(--searchColor);
  border-radius: 10px;
}

.searching h2{
  text-align: center;
}

.labels {
  display: flex;
}

.selection {
  
}